


body
{
    font-family: 'Open Sans', sans-serif;

}

.header-photo
{
    background-image:url("img/01.jpg");
    background-repeat: no-repeat;
    height: 750px;
    background-size: cover; 
}

.header-photo-homme
{
    background-image:url("img/10.JPG");
    background-repeat: no-repeat;
    height: 750px;
    background-size: cover; 
}

.header-photo-femme
{
    background-image:url("img/15.JPG");
    background-repeat: no-repeat;
    height: 750px;
    background-size: cover; 
}

.header-photo-galerie
{
    background-image:url("img/IMG_2445.JPG");
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
    background-size: cover; 
}

.description
{
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    color:white;
    padding-top:300px;
}

.description h1
{
   font-weight:bolder;
    font-size: 98px;
}

.description p
{
    font-family: 'Open Sans', sans-serif;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

.carousel-container{
    margin-top: 150px;

}.carousel-control {
  padding-top:10%;
  width:5%;
}
.carousel-description
{
    color: #515769;
    text-align: center;
    
}
.carousel-description h1
{
    font-weight: bold;

}

.carousel
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
    background-color:#444444;
}

.nav-item
{
    padding: 20px;
        
}

.navbar-brand
{
    padding-left: 10%;
}


footer
{
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
    margin-top: 30px;
}
.socials
{
    margin-left: 45%;
    margin-right: 40%
}

.product-list
{
    margin-top: 40px;
    text-align: center;
}


.product-description h1
{
   font-size: 24px;
   color: #515769;
}

.product-list img
{
    height: 413px;
    width: 345px;
    background-color: #444;
    margin-top: 60px;
    
}

.mosaic-container
{
    margin-top: 40px;

}

.mosaic-container div
{
    padding: 1px;
}

.mosaicflow__column {
  float: left;
}
.mosaicflow__item img {
  display: block;
  width: 100%;
  height: auto;
}

@font-face{
font-family: Reef;
src: url('reef-webfont.woff'), url('reef-webfont.woff') format('woff');}