
body
{
    font-family: 'Open Sans', sans-serif;

}

.header-photo
{
    background-image:url("img/01.jpg");
    background-repeat: no-repeat;
    height: 750px;
    background-size: cover; 
}

.header-photo-homme
{
    background-image:url("img/01.jpg");
    background-repeat: no-repeat;
    height: 750px;
    background-size: cover; 
}

.description
{
    text-align: center;
    color:white;
    padding-top:300px;
}

.description h1
{
   font-weight:bolder;
    font-size: 68px;
}

.description p
{
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

.carousel-container{
    margin-top: 150px;

}.carousel-control {
  padding-top:10%;
  width:5%;
}
.carousel-description
{
    color: #515769;
    text-align: center;
    
}
.carousel-description h1
{
    font-weight: bold;

}

.carousel
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
    background-color:#444444;
}

.nav-item
{
    padding: 20px;
        
}

.navbar-brand
{
    padding-left: 10%;
}

.story
{
    margin-top: 20px;
    width: 100%;
    height: 550px;
    background-color: #444444;
    border: 1px solid whitesmoke;

}

.story-description
{
    text-align: left;
    color: #444444;
    padding-top: 110px;
    padding-left: 20px;
    background-color: white;
    width: 50%;
    margin-left: 50%;
    height: 100%;
    
}

.story-description h1
{
    font-weight:bolder;
    font-size: 38px;
}

.story-description p{
    font-size: 22px;
    padding-top: 18px; 
}


.story2
{
    background-color: #444;
    width: 100%;
    height: 550px;
  
 
    border: 1px solid whitesmoke;
}

.story-description2
{
    text-align: right;
    color: #444444;
    padding-top: 100px;
    padding-right: 20px;
    background-color: white;
    width: 50%;
    height: 550px;
    
}

.story-description2 h1
{
    font-weight:bolder;
    font-size: 38px;
}

.story-description2 p{
    font-size: 22px;
    padding-top: 18px; 
}


footer
{
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
    margin-top: 30px;
}
.socials
{
    margin-left: 45%;
    margin-right: 40%
}

.product-list
{
    margin-top: 40px;
    text-align: center;
}



.product-description h1
{
   font-size: 24px;
   color: #515769;
}

.product-list img
{
    height: 413px;
    width: 345px;
    background-color: #444;
    margin-top: 60px;
    
}